QSpinBox{border-radius:2px;border-style:solid;border-width:1px;border-color:#C8C8C8}
QSpinBox:hover{border-color:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #66c8f6, stop: 1 #5bb3dc)}
QSpinBox:disabled{background-color:lightgray;border-color:lightgray}
QPlainTextEdit{border-radius:3px;border:1px solid #c1c1c1}
QPlainTextEdit:hover{border-color:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #66c8f6, stop: 1 #5bb3dc)}
QToolButton{background:transparent}
QDoubleSpinBox{border-radius:2px;border-style:solid;border-width:1px;border-color:#C8C8C8}
QDoubleSpinBox:hover{border-color:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #66c8f6, stop: 1 #5bb3dc)}
QDoubleSpinBox:disabled{background-color:lightgray;border-color:lightgray}
QPushButton{background:#3C91C7;color:white;height:20px;padding:4px;border:none}
QPushButton:hover{font:Bold}
QPushButton:pressed{background-color:#95C5DE;color:black}
QPushButton:disabled{background-color:lightgray;color:gray}
QTabWidget{background:rgba(255, 255, 255, 100)}
QTabBar:tab{background:white;border-radius:2px;margin:1px;padding:8px}
QTabBar:tab:hover{background:rgba(255,255,255,100)}
QTabBar:tab:selected{background:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #66c8f6, stop: 1 #5bb3dc);color:white}
QLineEdit{border-radius:3px;border:1px solid #c1c1c1}
QLineEdit:hover{border-color:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #66c8f6, stop: 1 #5bb3dc)}
QLineEdit:disabled{background-color:lightgray;border-color:lightgray}