QTabWidget{background:rgba(255, 255, 255, 100)}
QTabBar:tab{background:white;border-radius:2px;margin:1px;padding:8px}
QTabBar:tab:hover{background:rgba(255,255,255,100)}
QTabBar:tab:selected{background:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #66c8f6, stop: 1 #5bb3dc);color:white}