QListWidget{border:none;font:Bold;font-size:16px;background:#95C5DE}
QListWidget:item{height:128px;border:none}
QListWidget:item:hover{background:rgba(255,255,255,50)}
QListWidget:item:selected{background:#E0EEFB}