QPushButton{background:#3C91C7;color:white;height:20px;padding:4px;border:none;min-width:60px}
QPushButton:hover{font:Bold}
QPushButton:pressed{background-color:#95C5DE;color:black}
QPushButton:disabled{background-color:lightgray;color:gray}